.fullName {
    font-size: 42px;
    font-weight: bold;
}

.aboutMe {
    font-style: italic;
    margin-bottom: 50px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.contact b {
    color: white;
}

.contact a {
    text-decoration: none;
    color: gray;
}

.formSummaryError {
    border: 3px solid red;
    padding: 5px;
    color: red;
}