$mainBgColor-1: rgb(2, 3, 34);
$mainBgColor-08: rgba(2, 3, 34, .8);
$mainBgColor-04: rgba(2, 3, 34, .4);
$bgSecondColor: #040647;
$bgSecondHoverColor: #040536;

$borderMainColor: #0671B5;

$mainColor: #E936AB;
$mainColorDark: #BE2B8D;
$alternateMainColor: #E73082;
$alternateMainColorDark: #C4286E;

$secondColor: #1DE0FA;
$secondColorDark: #16B7CC;

$accentNeonColor: #FFFFFF;

$rejectColor: #FF0000;
$consentColor: #59FF00;

$loginTestingDataBgColor: rgba(29, 224, 250, .3);
$loginErrorBgColor: rgba(255, 0, 0, .3);