@import "src/common_styles/variables";
@import "src/common_styles/mixins";

.navItem {
      height: 40px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $mainColor;
      font: {
          size: 14px;
          weight: 300;
      }
      padding: 5px 0 5px 20px;
    &:first-child {
        margin-top: 15px;
    }
    &:last-child {
        margin-bottom: 15px;
    }
    &__icon svg {
        @include icon-template(20px, 20px, $mainColorDark);
        padding-right: 10px;
    }
    &:hover {
        @include main-text-shadow-template($secondColor);
        transition: 0.3s;
        color: $secondColor;
        svg {
            transition: 0.3s;
            fill: $secondColor;
        }
    }
    &__text {
        margin-top: -2px;
    }
}